body{
    margin: 0;
   background-color: rgb(250, 250, 250);
 font-family: 'Poppins', sem serifa;
 

}
.main-login{
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #7B4BA1;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #FEFEFE;
  
}

.login-email::placeholder{
    background-image: url(./img/EnvelopeSimple.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
}

.login-senha::placeholder{
   background-image: url(./img/LockKey.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
}

.login-direita{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esquerda{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagem-esquerda-login{
    width: 35vw;
}

.text-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.text-field > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #d4d4d4;
    color: #F2F2F2;
    font-size: 12pt;
    outline:none;
    box-sizing: border-box;
}

.text-field > label{
    color: #F2F2F2;
    margin-bottom: 10px;
}

.text-field > input::placeholder{
    color: #F2F2F2;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    background-color: #FFD024;
    outline: none;
    font-weight: 300;
    color:#F5F5F5;
    cursor: pointer;
    box-shadow:0px 10px 40px -12px #FFD024;
}

.cadastrar{
    color: #F5F5F5;
}

.esqueceu-senha a{
    color: #F5F5F5;
    text-decoration: none;
}

#lembrar{
    color: #F5F5F5;
}



@media only screen and (max-width :950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .login-esquerda{
        display:none;
    }
    .login-esquerda{
        width: 100%;
        height: auto;
    }

    .login-direita{
        width: 100%;
        height: auto;
    }

    
}