*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sem serifa;
}

main{

    width: 100vw;
    height: 100vh;
    background-color: #FFFFF6;
    display: flex;
    /* background-color: aqua; */
    overflow-x: hidden;
}

#topoPainel{
    background-image: url("../components/assets/fundoHeaderPainel.png");
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    width: 84vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-left: 3vw; */
    /* background-color: #A200EE; */
}

#topoPainel div{
    width: 20vw;
    height: 18vh;
    
    margin-top: 13px;
    margin-right: 13px;
}
#topoPainel img{
    width: 100%;
    height: 100%;
}


#menuEsquerda{
    z-index: 2;
    width: 20vw;
    height: 100vh;
    background-color: #fff;
    /* background-color: aqua; */
    position: absolute;
    position: fixed;
    box-shadow: 10px 3px 21px rgb(92, 92, 92);


}

#menuEsquerda #topoMenuEsquerda{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 23vh;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-top: 7%;
}

#menuEsquerda #topoMenuEsquerda img{
    width: 50%;
    height: 50%;
}
#menuEsquerda #topoMenuEsquerda p{
    margin: 5px 0;
    font-size: 19px;
}
#topoMenuEsquerda #nomeUsuario{
  font-size: 28px!important;
  color: #300046;
  text-decoration: underline;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img{
    width: 22px;
    height: 22px;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img:hover{
    cursor: pointer;
}
#menuEsquerda #opcoesMenu{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}


#menuEsquerda #opcoesMenu li{
    margin: 8vh 0 2vh 0;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
#menuEsquerda #opcoesMenu li:hover{
    cursor: pointer;
    transform: scale(1.1);

    color: #A200EE;
    transition: all 0.3s;
}
#logoPainel{
    width: 19vw;
    height: 18vh;
    display: flex;
    align-items: flex-start;
}
#logoPainel img{
    width: 80%;
    height: 60%;
}
#menuEsquerda #opcoesMenu li img{
    margin-right: 8px;
}
.txtRoxo{
    color: #A200EE;
}
.txtLaranja{
    color: #FFC700;
}
#conteudoPrincipal{
    width: 80vw;
    height: auto;
    
    margin-left: 18.7vw;
}
#conteudoPrincipal #painlePrincipal{
    width: 100%;
    /* background-color: #A200EE; */
    margin: auto;
}
#conteudoPrincipal #painlePrincipal #txtCentral{
    width: 55%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
#conteudoPrincipal #painlePrincipal #txtCentral p{
    font-size: 47px;
    font-weight: 580;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.motoristas-tabela{
    margin-left: 300px;
}

.carros-tabela{
    margin-left: 300px;
}


/*  */

.tituloAreas{
    text-align: center;
    font-size: 23px;
    color: #222;
    margin: 1vh auto; 
}

/*  */


/* Altera a cor da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Altera a cor do trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #e4e4e4; /* Cor de fundo do trilho */
}

/* Altera a cor do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #bebebe; /* Cor do "polegar" */
}

/* Altera a cor do "polegar" da barra de rolagem quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
    background-color: #300046; /* Cor do "polegar" em hover */
}


/* Estilos para as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 200px; */
    /* border: #222 solid 1px; */
  }

  thead {
    background-color: #f2f2f2;
  }
  .dataTables_filter{
    margin: 2vh auto;
    margin-top: -6vh;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  
  /* Estilos específicos para a tabela de carros */
  table.carros-tabela, table.motoristas-tabela, table.registros-tabela, table.sinistro-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table.carros-tabela thead, table.motoristas-tabela thead, table.registros-tabela thead, table.sinistro-tabela thead{
    background-color: #f2f2f2;
  }

  
  table.carros-tabela th,
  table.carros-tabela td, table.motoristas-tabela th,
  table.motoristas-tabela td, table.registros-tabela th,
  table.registros-tabela td, td, table.sinistro-tabela th,
  table.sinistro-tabela td {
    padding: 8px;
    text-align: left;
  }
  
  table.carros-tabela tbody tr:nth-child(even), table.motoristas-tabela tbody tr:nth-child(even), table.registros-tabela tbody tr:nth-child(even), table.sinistro-tabela tbody tr:nth-child(even) {
    background-color: #dfdfdf;
  }
  

  table.registros-tabela{
    background-color: #f7f7f7;
  }
  table.registros-tabela thead{
    background-color: #f2f2f2;

  }
  /*  */


  
  .btn-deletar, .btn-edit {
    /* background-color: #e9e9e9; */
    border: none;
    /* color: #333; */
    /* padding: 8px 16px; */
    width: 30px;
    height: 30px;
    /* padding: 5px 10px; */
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2% auto;
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
}

  .btn-deletar:hover{
    background-color: #c92121;
  }
.btn-group-edit{
    display: flex;
}

  .btn-edit{
    /* color: #222; */
    background-color: #0664f0;

  }
  .btn-edit:hover{
    background-color: #1874ff;
  }
  .btn-edit i{
    color: #f2f2f2;
  }
  .btn-deletar{
    background-color: #9e1414;
  }
  .btn-deletar i{
    color: #f2f2f2;
  }


  .button-container {
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    /* margin-bottom: -100vh; */
    height: max-content;
    /* background-color: #0664f0; */
    align-items: baseline;
  }

  .btn-upload, .btn-add-field {
    background-color: #e9e9e9;
    border: none;
    color: #222;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  .btn-upload i{
    color: #A200EE;
  }
  .btn-add-field i{
    color: #FFC700;
  }

  .btn-upload:hover, .btn-add-field:hover {
    background-color: #ccc;
  }

  .btn-upload i, .btn-add-field i {
    margin-right: 8px;
  }
  .btnEnviarUpload{
    width: 90px;
    height: 25px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  .btnEnviarUpload:hover{
    background-color: #b1b1b1;
  }
  .ativo-icone {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    background-color: green;
    border-radius: 5px;
    margin: auto;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ativo-icone.certo {
    color: #006400;
  }
  
  .ativo-icone.xiszinho {
    color: #9e1414;
  }

  /* modal */

  .modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  border-radius: 15px;

    /* min-height: 30vh; */

  }
  .ativo{
    background-color: #006400;
  }
  .inativo{
    background-color: #9e1414;
  }

  .modal-content input, .modal-content select{
    border: #300046 solid 1px;
    border-radius: 5px;
    width: 9vw;
  }
 
  .modal-content h2{
    text-align: center;
  }
  .modal-content article {
    width: fit-content;
    margin: 10vh auto;

  }
  .modal-content article div {
    margin: auto 10px;

  }
  .modal-content article div form input{
    border: #300046 solid 2px;
    outline: none;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    /* background-color: #c92121; */
  }

  #btnEnviar{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #enviarCarros{
    width: 8vw;
    height: 5vh;
    background-color: #fccc30;
    border-radius: 15px;
    transition: all 0.5s;
    /* margin: auto; */
  }
  #enviarCarros:hover{
    background-color: #dda900;

  }

  /*  modal motoristas */

  .modalMotorista {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

.modal-contentMotorista {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  border-radius: 15px;

}

.modal-contentMotorista input,
.modal-contentMotorista select {
    border: #300046 solid 1px;
    border-radius: 5px;
    width: 9vw;
}

.modal-contentMotorista h2 {
    text-align: center;
}


.modal-contentMotorista  form {
    width: 100%;
    /* background-color: #0664f0; */

}
.modal-contentMotorista  form article{
  margin: 2vh auto;
  width: 80%;
  /* background-color: #9e1414; */
  display: flex;
  justify-content: space-around;
}

.modal-contentMotorista form article   input {
    border: #300046 solid 1px;
    outline: none;
}

.closeMotorista {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeMotorista:hover,
.closeMotorista:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#btnEnviarMotorista{
  width: 100%;
    display: flex;
    justify-content: center;
}
#enviarMotorista{
  width: 8vw;
  height: 5vh;
  background-color: #fccc30;
  border-radius: 15px;
  transition: all 0.5s;
  /* margin: auto; */
}
#enviarMotorista:hover{
  background-color: #dda900;

}
/* modal registros */

.modalRegistro {
  display: none; /* Esconde o modal por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

.modal-contentRegistro {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 15px;

}

.modal-contentRegistro input,
.modal-contentRegistro select {
  border: #300046 solid 1px;
  border-radius: 5px;
  width: 9vw;
}

.modal-contentRegistro h2 {
  text-align: center;
}


.modal-contentRegistro  form {
  width: 100%;
  /* background-color: #0664f0; */

}
.modal-contentRegistro  form article{
margin: 2vh auto;
width: 80%;
/* background-color: #9e1414; */
display: flex;
justify-content: space-around;
}

.modal-contentRegistro form article   input {
  border: #300046 solid 1px;
  outline: none;
}

.closeRegistro {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeRegistro:hover,
.closeRegistro:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#btnEnviarRegistro{
width: 100%;
  display: flex;
  justify-content: center;
}
#enviarRegistro{
width: 8vw;
height: 5vh;
background-color: #fccc30;
border-radius: 15px;
transition: all 0.5s;
/* margin: auto; */
}
#enviarRegistro:hover{
background-color: #dda900;

}

/* modal sinistos */

.modalSinistro {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contentSinistro {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 15px;
}

.modal-contentSinistro input,
.modal-contentSinistro select {
  border: #300046 solid 1px;
  border-radius: 5px;
  width: 9vw;
}

.modal-contentSinistro h2 {
  text-align: center;
}

.modal-contentSinistro article {
  width: fit-content;
  margin: 10vh auto;
}

.modal-contentSinistro article div {
  margin: auto 10px;
}

.modal-contentSinistro article div form input {
  border: #300046 solid 2px;
  outline: none;
}

.closeSinistro {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeSinistro:hover,
.closeSinistro:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#btnEnviarSinistro{
  width: 100%;
    display: flex;
    justify-content: center;
  }
  #enviarSinistro{
  width: 8vw;
  height: 5vh;
  background-color: #fccc30;
  border-radius: 15px;
  transition: all 0.5s;
  /* margin: auto; */
  }
  #enviarSinistro:hover{
  background-color: #dda900;
  }