*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sem serifa;
}

main{

    width: 98vw;
    height: 100vh;
    background-color: #FFFFF6;
    display: flex;
    /* background-color: aqua; */
    
}

#topoPainel{
    background-image: url("../components/assets/fundoHeaderPainel.png");
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}
#topoPainel img{
    margin-top: 13px;
    margin-right: 13px;
    width: 130px;
    height: 90px;
}


#menuEsquerda{
    z-index: 2;
    width: 20vw;
    height: 100vh;
    background-color: #fff;
    /* background-color: aqua; */
    box-shadow: 10px 3px 21px rgb(92, 92, 92);


}
#menuEsquerda #topoMenuEsquerda{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 23vh;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-top: 7%;
}
#menuEsquerda #topoMenuEsquerda img{
    width: 50%;
    height: 50%;
}
#menuEsquerda #topoMenuEsquerda p{
    margin: 5px 0;
    font-size: 19px;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img{
    width: 22px;
    height: 22px;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img:hover{
    cursor: pointer;
}
#menuEsquerda #opcoesMenu{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
#menuEsquerda #opcoesMenu ul{
    list-style: none;
}
#menuEsquerda #opcoesMenu li{
    margin: 4vh 0;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
#menuEsquerda #opcoesMenu li:hover{
    cursor: pointer;
    transform: scale(1.1);

    color: #727272;
    transition: all 0.3s;
}
#logoPainel{
    width: 19vw;
    height: 18vh;
    display: flex;
    align-items: flex-start;
}
#logoPainel img{
    width: 80%;
    height: 60%;
}
#menuEsquerda #opcoesMenu li img{
    margin-right: 5px;
}
.txtRoxo{
    color: #A200EE;
}
.txtLaranja{
    color: #FFC700;
}
#conteudoPrincipal{
    width: 75vw;
    height: auto;
}
#conteudoPrincipal #painlePrincipal{
    width: 100%;
    /* background-color: #A200EE; */
    margin: auto;
}
#conteudoPrincipal #painlePrincipal #txtCentral{
    width: 55%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
#conteudoPrincipal #painlePrincipal #txtCentral p{
    font-size: 47px;
    font-weight: 580;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}