*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sem serifa;
}

main{

    width: 100vw;
    height: 100vh;
    background-color: #FFFFF6;
    display: flex;
    /* background-color: aqua; */
    overflow-x: hidden;
}

#topoPainel{
    background-image: url("../components/assets/fundoHeaderPainel.png");
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    width: 84vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-left: 3vw; */
    /* background-color: #A200EE; */
}
#topoPainel div{
    width: 20vw;
    height: 18vh;
    
    margin-top: 13px;
    margin-right: 13px;
}
#topoPainel img{
    width: 100%;
    height: 100%;
}


#menuEsquerda{
    z-index: 2;
    width: 20vw;
    height: 100vh;
    background-color: #fff;
    /* background-color: aqua; */
    position: absolute;
    position: fixed;
    box-shadow: 10px 3px 21px rgb(92, 92, 92);


}
#menuEsquerda #topoMenuEsquerda{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 23vh;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-top: 7%;
}
#menuEsquerda #topoMenuEsquerda img{
    width: 50%;
    height: 50%;
}
#menuEsquerda #topoMenuEsquerda p{
    margin: 5px 0;
    font-size: 19px;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img{
    width: 22px;
    height: 22px;
}
#menuEsquerda #topoMenuEsquerda #iconsTopEsquerda img:hover{
    cursor: pointer;
}
#menuEsquerda #opcoesMenu{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

/* 
#menuEsquerda #opcoesMenu #btnUpload{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
}
#menuEsquerda #opcoesMenu #btnUpload li{
    margin-top: 0;
}
#menuEsquerda #opcoesMenu #btnUpload input[type='submit']{
    background-color: #FFC700;
    color: #fafafa;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 0.5rem;
    cursor: pointer;
}   
#menuEsquerda #opcoesMenu #btnUpload input[type='submit']:hover{
    background-color: #d8aa03;
    transform: scale(1.1);
    transition: all 0.3s;
}
#menuEsquerda #opcoesMenu #btnUpload input[type='file'] {
    
    width: 10vw;
    height: 5vh;
    border: none;
    color: white;
    padding: 8px 12px 8px 0px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#menuEsquerda #opcoesMenu #btnUpload img {
    margin-right: 8px;
    margin-top: 4px;
}

#menuEsquerda #opcoesMenu #btnUpload input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}

#menuEsquerda #opcoesMenu #btnUpload input[type='file']:before {
    content: 'Upload';
    display: inline-block;
    color: #222;
    padding: 8px 12px 8px 0px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
} */

#menuEsquerda #opcoesMenu ul{
    list-style: none;
    width: fit-content;
    /* background-color: #FFC700; */
}
#menuEsquerda #opcoesMenu li{
    margin: 8vh 0 2vh 0;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
#menuEsquerda #opcoesMenu li:hover{
    cursor: pointer;
    transform: scale(1.1);

    color: #A200EE;
    transition: all 0.3s;
}
#logoPainel{
    width: 19vw;
    height: 18vh;
    display: flex;
    align-items: flex-start;
}
#logoPainel img{
    width: 80%;
    height: 60%;
}
#menuEsquerda #opcoesMenu li img{
    margin-right: 8px;
}
.txtRoxo{
    color: #A200EE;
}
.txtLaranja{
    color: #FFC700;
}
#conteudoPrincipal{
    width: 80vw;
    height: auto;
    
    margin-left: 18.7vw;
}
#conteudoPrincipal #painlePrincipal{
    width: 100%;
    /* background-color: #A200EE; */
    margin: auto;
}
#conteudoPrincipal #painlePrincipal #txtCentral{
    width: 55%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
#conteudoPrincipal #painlePrincipal #txtCentral p{
    font-size: 47px;
    font-weight: 580;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.motoristas-tabela{
    margin-left: 300px;
}

.carros-tabela{
    margin-left: 300px;
}


/*  */

.tituloAreas{
    text-align: center;
    font-size: 23px;
    color: #222;
    margin: 1vh auto; 
}

/*  */


/* Altera a cor da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Altera a cor do trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #e4e4e4; /* Cor de fundo do trilho */
}

/* Altera a cor do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #bebebe; /* Cor do "polegar" */
}

/* Altera a cor do "polegar" da barra de rolagem quando estiver sendo arrastado */
::-webkit-scrollbar-thumb:hover {
    background-color: #300046; /* Cor do "polegar" em hover */
}


/* Estilos para as tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 200px; */
    /* border: #222 solid 1px; */
  }

  thead {
    background-color: #f2f2f2;
  }
  .dataTables_filter{
    margin: 2vh auto;
    margin-top: -6vh;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilos específicos para a tabela de motoristas */
  table.motoristas-tabela {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
  }
  
  table.motoristas-tabela thead {
    background-color: #f2f2f2;
  }
  
  table.motoristas-tabela th,
  table.motoristas-tabela td {
    padding: 8px;
    text-align: left;
  }
  
  table.motoristas-tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilos específicos para a tabela de carros */
  table.carros-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table.carros-tabela thead {
    background-color: #f2f2f2;
  }
  
  table.carros-tabela th,
  table.carros-tabela td {
    padding: 8px;
    text-align: left;
  }
  
  table.carros-tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  


  /*  */


  
  .btn-deletar, .btn-edit {
    /* background-color: #e9e9e9; */
    border: none;
    /* color: #333; */
    /* padding: 8px 16px; */
    width: 30px;
    height: 30px;
    /* padding: 5px 10px; */
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2% auto;
    /* display: flex; */
    display: flex;
    justify-content: center;
    align-items: center;
}

  .btn-deletar:hover{
    background-color: #c92121;
  }
.btn-group-edit{
    display: flex;
}

  .btn-edit{
    /* color: #222; */
    background-color: #0664f0;

  }
  .btn-edit:hover{
    background-color: #1874ff;
  }
  .btn-edit i{
    color: #f2f2f2;
  }
  .btn-deletar{
    background-color: #9e1414;
  }
  .btn-deletar i{
    color: #f2f2f2;
  }


  .button-container {
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    /* margin-bottom: -100vh; */
  }

  .btn-upload, .btn-add-field {
    background-color: #e9e9e9;
    border: none;
    color: #222;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  .btn-upload i{
    color: #A200EE;
  }
  .btn-add-field i{
    color: #FFC700;
  }

  .btn-upload:hover, .btn-add-field:hover {
    background-color: #ccc;
  }

  .btn-upload i, .btn-add-field i {
    margin-right: 8px;
  }

  .ativo-icone {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    background-color: green;
    border-radius: 5px;
    margin: auto;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ativo-icone.certo {
    color: green;
  }
  
  .ativo-icone.xiszinho {
    color: red;
  }